build/

# Mac OS files to ignore
.DS_Store

# SCons files to ignore
.sconsign*.dblite

#VS Code files to ignore
.vscode/
.cursor/

# Vim swap files
.*.swp

# Python files
*.pyc
*.pyo
venv/
__pycache__/

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Docker
.docker/

# Claude
.build_completed
.claude

# Cursor
.cursor_server/

# PulseAudio
.pulse_audio_ready
